.App {
  display: grid;
justify-content: center;
align-items: center;
}

.serarchitems{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 2fr 2fr
}
.selectedvaluesdropdown{
background-color: #472491;
color: #fff;
border-radius: 5px;
padding: 4%;
margin: 5% 1% 1% 1%;
width: 100%;
}

.input-border{
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  box-shadow: 1px 1px  #000;
  border-color: aliceblue;
}
.see-more-button{
  padding: 0.5rem;
  box-shadow: 1px 1px  #fff;
  color: #fff;
  background-color: #472491;
  border-color: aliceblue;
  border-radius: 7px;
  margin: 5% 0% 0% 0%;
}

.container {
  position: relative;
  display: inline-block;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}